{# doc Twig template #}
{% set color = (borrow == null ? 'green' : (borrow == 1 ? 'orange' : 'red')) %}
{% set icon = (borrow == null ? 'plus-circle' : (borrow == 1 ? 'times-circle' : 'minus-circle')) %}
{% set text = (borrow == null ? 'Disponible' : (borrow == 1 ? 'Réservé' : 'Emprunté')) %}
<li class="border {{ color }}">
    <a class="flex-parent-row no-decor" href="{{ path('document', {'id': id}) }}" title="{{ docTitle }} - {{ author }}">
        <img class="flex-child cover center" src="{{ asset('bundles/app/img/' ~ cover) }}" alt="{{ docTitle }}"/>
        <div class="flex-child flex-parent-col info center">
            <ul>
                <li class="flex-child text bold"><i class="fa fa-{{ type }}" aria-hidden="true"></i> {{ docTitle }}</li>
                <li class="flex-child text italic"> {{ author }}</li>
                <li class="flex-child text ico">
                    <i class="fa fa-{{ icon }} fa-3x" aria-hidden="true"></i>
                    <p>{{ text }}</p>
                </li>
            </ul>
        </div>
    </a>
</li>