{# navbar Twig template #}
<nav class="center">
    <header id="navbar">
        <div class="flex-parent-row">
            <div class="flex-child nav">
                <a class="link-color-black" href="http://www.pleyber-christ.fr" title="Accueil">
                    <i class="fa fa-home fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <div id='mediatek' class="flex-child nav">
                <a class="link-color-black" title="Médiathèque">
                    <i class="fa fa-book fa-3x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </header>        
    <section id="navSec" class="hidden bold">
        <div class="flex-parent-col">
            {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                <div id="loginModalBtn" class="flex-child">
                    <a class="link-color-white no-decor">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>Se connecter</span>
                    </a>
                </div>
                <div class="flex-child">
                    <a class="link-color-white no-decor" href="#">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>S'enregistrer</span>
                    </a>
                </div>
            {% endif %}
            <div class="flex-child">
                <a class="link-color-white no-decor" href="{{ path('homepage') }}">
                    <i class="fa fa-flash" aria-hidden="true"></i>
                    <span>Nouveautés</span>
                </a>
            </div>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="flex-child">
                    <a class="link-color-white no-decor" href="{{ path('catalogue') }}">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <span>Catalogue</span>
                    </a>
                </div>
                <div class="flex-child">
                    <a class="link-color-white no-decor" href="{{ path('emprunts') }}">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        <span>Vos emprunts</span>
                    </a>
                </div>
                <div class="flex-child">
                    <a class="link-color-white no-decor" href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Compte</span>
                    </a>
                </div>
                <div class="flex-child">
                    <a class="link-color-white no-decor" href="{{ path('fos_user_security_logout') }}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        <span>Déconnection</span>
                    </a>
                </div>
            {% endif %}
            {% if is_granted("ROLE_ADMIN") %}
                <div class="flex-child">
                    <a class="link-color-white no-decor" href="#">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <span>Administrateur</span>
                    </a>
                </div>
            {% endif %}
            <div class="flex-child">
                <a class="link-color-white no-decor" href="#">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>Evènements</span>
                </a>
            </div>
            <div class="flex-child">
                <a class="link-color-white no-decor" href="#">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    <span>Informations</span>
                </a>
            </div>
        </div>
    </section>
    <footer id="title">
        <div class="bold">
            <span>{{ title }}</span>
            <!-- Fermeture de la nav à ajouter
            <div id="closeNav" class="show">
                <a class="link-color-white no-decor" href="#top">
                    <i class="fa fa-close" aria-hidden="true"></i>
                </a>
            </div>-->
            <div id="return" class="hidden">
                <a class="link-color-white no-decor" href="#top">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </footer>
</nav>

